include *.txt
recursive-include src *.html
recursive-include src *.css
recursive-include src *.js
recursive-include src *.json
recursive-include src *.png
recursive-include src *.jpg
recursive-include src *.svg
recursive-include src *.woff2